<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TwilioChatTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6FCE589A1E96A2CD000C692E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6FCE58AE1E96A2CD000C692E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6FCE58B91E96A2CE000C692E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
